*
{
   margin: 0px;
   font-family: Arial;
}

#mainContainer
{
   height: 100vh;
   width: 100vw;
   display: grid;
   justify-items: center;
   grid-template-rows: 0.25fr 1fr;
}

#monthHeaderContainer span
{
   font-size: 1.5rem;
}

#previousMonthBtn, #nextMonthBtn
{
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   border: none;
   background-color: transparent;
   font-size: 1.25rem;
   cursor: pointer;
}

#monthHeaderContainer
{
   margin: 1rem;
}

#daysNameContainer, #datesContainer
{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   column-gap: 2.5rem;
   row-gap: 0.5rem;
   width: max-content;
   margin-left: auto;
   margin-right: auto;
}

#daysNameContainer
{
   margin-left: 0.5rem;
}

.spacingCell
{
   background-color: rgba(203, 79, 27, 0.885);
   height: 2.5rem;
   width: 2.5rem;
   border: none;
   border-radius: 0.75rem;
}

.dateCell
{
   background-color: rgba(173, 191, 100, 0.885);
   height: 2.5rem;
   width: 2.5rem;
   border: none;
   display: grid;
   place-items: center;
   border-radius: 0.75rem;
}

.dateCell span
{
   color: rgb(251, 242, 171);
}